@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Creepster&family=Sedgwick+Ave+Display&display=swap');

body {
  font-family: Gluten, cursive;
}

h1 {
  font-size: 4rem;
  margin-block: 1rem;
}

h1,
h2 {
  font-family: 'Creepster', cursive;
}

#app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#panneau-de-controle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2rem;
}

#conteneur-boutons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.grille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grille-inversee {
  flex-direction: row-reverse;
}

.carte-conteneur {
  break-inside: avoid;
  margin-bottom: 2rem;
  display: flex;
  gap: 2px;
}

@media print {
  .ne-pas-imprimer {
    display: none;
  }

  .carte-conteneur {
    margin-bottom: 2px;
  }
}