.plateau {
    display: flex;
    flex-wrap: wrap;
}

.case {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    padding: 4px 8px;
}

.case .entete {
    display: flex;
    justify-content: space-between;
}

.case meter {
    height: 50px;
}