.nombre-restantes {
    display: block;
    margin-top: 0.5rem;
}

dialog {
    align-items: center;
    border-width: 1px;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}