.nombre-restantes {
    display: block;
    margin-top: 0.5rem;
    font-size: 80%;
}

.nom-categorie {
    color: #ff7700;
}

.bouton-pigeur {
    font-size: 125%;
    padding: 1.5rem;
}

dialog {
    align-items: center;
    background-color: #242424;
    border-width: 1px;
    bottom: 0;
    height: auto;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1;
}

dialog>* {
    transform: scale(2);
}