@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Creepster&family=Sedgwick+Ave+Display&display=swap');

body {
  font-family: Gluten, cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h1,
h2 {
  font-family: 'Creepster', cursive;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#grille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carte-conteneur {
  margin-bottom: 2rem;
}

@media print {
  .ne-pas-imprimer {
    display: none;
  }
}